html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.box {
  border: 1px solid #ddd;
  padding-top: 10px;
}

.gridBox {
  display: grid;
  text-align: center;
}

.gridBox img {
  margin-bottom: 10px;
  padding: 10px;
  width: 80px;
  height: 80px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.flex input {
   margin-bottom: 30px;
   margin-right: 8px;
   padding: 4px;
   margin-top: -4px;
   border-radius: 5px;
}
.flex textarea {
  margin-bottom: 50px;
  margin-right: 8px;
  padding: 4px;
  margin-top: -4px;
  border-radius: 5px;

}
.flex .button {
  padding: 5px 15px;
  margin: 5px;
  max-width: 150px;
  border-radius: 5px;

}

.animation {
  text-align: center;
  font-size: 40px;
  animation-name:animation;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 2s;
}

@keyframes animation{
  0% {transform: translateY(50px);}
  100% {transform: translate(0px)}
}

.hr{
  height: 2px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) ,rgba(0,0,0,0));
  margin: 50px;
  animation-name: hr;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 2s;
}

@keyframes hr{
  0% {width: 0px;}
  100% {width: 90%;}
}

@media only screen and (max-width: 800px) {
  body {
    width: 100vh;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
  .container > li {
  flex-basis: 100%;
  }
  .form {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }
  .container {
    flex-wrap: wrap;
  }

  .container > li {
    flex-basis: 50%;
  }

}
