.resume {
    margin: auto;
    max-width: 960px;
    color: #4B4B4B;
}

.resume p {
    margin-bottom: 0;
}

.resume header {
    padding: 1rem;
    background-color:whitesmoke;
}
.resume header a {
    color: black;
}
.resume header h1, h4 {
    margin-bottom: 0;
}

.resume .divided {
    border: none;
    padding: 0.5rem;
    font-size: small;
    justify-content: space-around;
    background: rgb(249, 242, 231);
}

.resume main {
    padding: 1rem;
}
.resume .divided a,
.resume main a {
    color: #4B4B4B;
}
.resume main .infoDetails, 
.resume main .specialPadding {
    padding-bottom: 1rem;
}
.resume main .container em {
    font-size: small;
}
.resume main svg {
    margin-right: 1.5rem;
    color: #4B4B4B;
}
.resume main li {
    margin-bottom: 0;
}

.resume .resumeGridBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-gap: 1rem;
    background-color:whitesmoke;
}

.resume a:hover,
.resume a:active {
    color: #DDBC8D;
}

.resume h2 {
    color: #C39F6D;
    margin-bottom: 0.5rem;
}
.resume h3, h4 {
    color: black;
    margin-bottom: 0.5rem;
}

.resume footer {
    position: sticky;
    text-align: right;
}
.resume footer a,
.resume .divided svg {
    color: #C39F6D;
    margin-right: 0.5rem;
}
.resume footer a:hover,
.resume footer a:active {
    color: #DDBC8D;
}


@media (max-width: 865px) {
    .resume header {
        text-align: center;
    }

    .resume main div {
        grid-column: span 2;
    }  
}